<record>
	<!-- resource manager options -->

	<!-- dont preload anything in this folder -->
	<boolean id="preload" value="false"/>

	<!-- turn off auto mapping -->
	<boolean id="amap" value="false"/>

	<!-- logo mappings - generated with FM XML for Mac -->
	<list id="maps">
		<record from="2000339408" to="graphics/pictures/club/2000339408/logo"/>
		<record from="2000339410" to="graphics/pictures/club/2000339410/logo"/>
		<record from="2000339412" to="graphics/pictures/club/2000339412/logo"/>
		<record from="2000339414" to="graphics/pictures/club/2000339414/logo"/>
		<record from="2000339416" to="graphics/pictures/club/2000339416/logo"/>
		<record from="2000339418" to="graphics/pictures/club/2000339418/logo"/>
		<record from="2000339420" to="graphics/pictures/club/2000339420/logo"/>
		<record from="2000339422" to="graphics/pictures/club/2000339422/logo"/>
		<record from="2000339424" to="graphics/pictures/club/2000339424/logo"/>
		<record from="2000339426" to="graphics/pictures/club/2000339426/logo"/>
		<record from="2000339428" to="graphics/pictures/club/2000339428/logo"/>
		<record from="2000339430" to="graphics/pictures/club/2000339430/logo"/>
		<record from="2000339432" to="graphics/pictures/club/2000339432/logo"/>
		<record from="2000339434" to="graphics/pictures/club/2000339434/logo"/>
		<record from="2000339436" to="graphics/pictures/club/2000339436/logo"/>
		<record from="2000339438" to="graphics/pictures/club/2000339438/logo"/>
		<record from="2000339440" to="graphics/pictures/club/2000339440/logo"/>
    </list>
</record>